div.MobileClient
{
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-align: left;
}
div.MobileClient:first-child
{
  border-top: 1px solid black;
}
div.MobileClient:hover
{
  background: rgb(212, 200, 200);
}
span.MobileClientFIO
{
  padding-left: 10%;
}
span.MobileClientBalance
{
  float: right;
  padding-right: 10%;
}

.Blocked
{
  color: red;
}

